![NASA](http://www.nasa.gov/sites/all/themes/custom/nasatwo/images/nasa-logo.svg)

<center>
<h1><font size="+3">GSFC Python Bootcamp</font></h1>
</center>

---

<CENTER>
<H1 style="color:red">
datetime Module
</H1>
</CENTER>

In [ ]:
from __future__ import print_function

## <font color='red'>What will be Covered?</font>
- Times
- Dates
- timedeltas
- Date Arithmetic
- Comparing Values
- Combining Dates and Times
- Formating and Parsing

## <font color='red'>Reference Documents</font>

- <A HREF="http://pleac.sourceforge.net/pleac_python/datesandtimes.html">Dates and Times</A>
- <A HREF="http://www.marinamele.com/2014/03/13-useful-tips-about-python-datetime.html">Usedul Tips about Python datetime Objects</A>
- <A HREF="https://pymotw.com/3/datetime/">datetime - Date and Time Value Manipulation</A>

## <font color='red'>What is the `datetime` Module?</font>

- The `datetime` module supplies classes to work with date and time. 
- These classes provide a number of functions to deal with dates, times and time intervals.  
- Date and datetime are an object in Python, so when you manipulate them, you are actually manipulating objects and not string or timestamps.

The `datetime` module provides high-level interface classes:

- `date`: An idealized date that assumes the Gregorian calendar extends infinitely into the future and past. It stores the year, month, and day as attributes.
- `time`: An idealized time that assumes there are 86,400 seconds per day with no leap seconds. This object stores the hour, minute, second, microsecond, and tzinfo (time zone information).
- `datetime`: A combination of a date and a time. It has all the attributes of both classes.
- `timedelta`: A duration expressing the difference between two date, time, or datetime objects to microsecond resolution.
- `tzinfo`: Provides time zone information objects.
- `timezone`: A class that implements the `tzinfo` abstract base class as a fixed offset from the UTC.

In this presentation, we will focus on the first four classes.

In [ ]:
import datetime
import numpy as np
import pandas as pd

## <font color='red'>Times</font>

Time values are represented with the <B>time</B> class. Times have attributes for hour, minute, second, and microsecond. 

```python
datetime.time(hour=0, minute=0, second=0, microsecond=0, tzinfo=None, *, fold=0)
```

In [ ]:
t = datetime.time(1, 2, 3)
print (t)
print ('hour  :     ', t.hour)
print ('minute:     ', t.minute)
print ('second:     ', t.second)
print ('microsecond:', t.microsecond)
print ('tzinfo:     ', t.tzinfo)

The variable <B>t</B> only holds values of time, and not a date associated with the time.
<P>
You can get the valid range of times in a single day:

In [ ]:
print ('Earliest  :', datetime.time.min)
print ('Latest    :', datetime.time.max)
print ('Resolution:', datetime.time.resolution)

Note that the resolution for time is limited to whole microseconds.

## <font color='red'>Dates</font>

Calendar date values are represented with the **date** class.

It is easy to create a date representing todayâ€™s date using the **today()** class method.
    
```python
datetime.date(year, month, day)
```

In [ ]:
today = datetime.date.today()
print ('today:  ', today)
print ('ctime:  ', today.ctime())
print ('tuple:  ', today.timetuple())
print ('ordinal:', today.toordinal())
print ('Year:   ', today.year)
print ('Mon:    ', today.month)
print ('Day :   ', today.day)

There are also class methods for creating instances from integers (using proleptic Gregorian ordinal values, which starts counting from Jan. 1 of the year 1) or POSIX timestamp values.

The following example illustrates the different value types used by:

- `fromordinal()`: Return the date corresponding to the proleptic Gregorian ordinal, where January 1 of year 1 has ordinal 1.
- `fromtimestamp()`: Return the local date corresponding to the timestamp.

In [ ]:
import time

o = 733114
print ('o = {} and fromordinal(o) = {}:'.format(o, datetime.date.fromordinal(o)))

t = time.time()
print ('t = {} and fromtimestamp(t) = {}'.format(t, datetime.date.fromtimestamp(t)))

We can also determine the range of date values:

In [ ]:
print ('Earliest  :', datetime.date.min)
print ('Latest    :', datetime.date.max)
print ('Resolution:', datetime.date.resolution)

Note too that the resolution for dates is a whole day.
<P>
Another way to create new date instances uses the <B>replace()</B> method of an existing date. For example, you can change the year, leaving the day and month alone.

In [ ]:
d1 = datetime.date(2008, 3, 12)
print ('d1:', d1)

d2 = d1.replace(year=2009)
print ('d2:', d2)

## <font color='red'>timedeltas</font>

We can use <B>datetime</B> to perform basic arithmetic on date values via the <B>timedelta</B> class.

```python
datetime.timedelta(days=0, seconds=0, microseconds=0, 
                   milliseconds=0, minutes=0, hours=0, weeks=0)
```

In [ ]:
print ("microseconds:", datetime.timedelta(microseconds=1))
print ("milliseconds:", datetime.timedelta(milliseconds=1))
print ("seconds     :", datetime.timedelta(seconds=1))
print ("minutes     :", datetime.timedelta(minutes=1))
print ("hours       :", datetime.timedelta(hours=1))
print ("days        :", datetime.timedelta(days=1))
print ("weeks       :", datetime.timedelta(weeks=1))

## <font color='red'>Date Arithmetic</font>

Date math uses the standard arithmetic operators. The following example with date objects illustrates using <B>timedelta</B> objects to compute new dates, and subtracting date instances to produce timedeltas (including a negative delta value).

In [ ]:
today = datetime.date.today()
print ('Today    :', today)

one_day = datetime.timedelta(days=1)
print ('One day  :', one_day)

yesterday = today - one_day
print ('Yesterday:', yesterday)

tomorrow = today + one_day
print ('Tomorrow :', tomorrow)

print ('tomorrow - yesterday:', tomorrow - yesterday)
print ('yesterday - tomorrow:', yesterday - tomorrow)

## <font color='red'>Comparing Values</font>

Both date and time values can be compared using the standard operators to determine which is earlier or later.

In [ ]:
print ('Times:')
t1 = datetime.time(12, 55, 0)
print ('\tt1:', t1)
t2 = datetime.time(13, 5, 0)
print ('\tt2:', t2)
print ('\tt1 < t2:', t1 < t2)

print ('Dates:')
d1 = datetime.date.today()
print ('\td1:', d1)
d2 = datetime.date.today() + datetime.timedelta(days=1)
print ('\td2:', d2)
print ('\td1 > d2:', d1 > d2)

## <font color='red'>Combining Dates and Times</font>

We can use the datetime class to hold values consisting of both date and time components. 

```python
datetime.datetime(year, month, day, 
                  hour=0, minute=0, second=0, microsecond=0, tzinfo=None, *, fold=0)
```

In [ ]:
print('Now    :', datetime.datetime.now())
print('Today  :', datetime.datetime.today())
print('UTC Now:', datetime.datetime.utcnow())

d = datetime.datetime.now()
for attr in [ 'year', 'month', 'day', 'hour', 'minute', 'second', 'microsecond']:
    print (attr, ':', getattr(d, attr))

In [ ]:
NOW = datetime.datetime.now()
 
print( "Current date & time =         %s " %NOW)
print( "Date and time in ISO format = %s" %NOW.isoformat())
print( "Current year =                %s " %NOW.year)
print( "Current month =               %s " %NOW.month)
print( "Current date (day) =          %s " %NOW.day)
print( "dd/mm/yyyy format =           %s/%s/%s" % (NOW.day, NOW.month, NOW.year))
print( "Current hour =                %s " %NOW.hour)
print( "Current minute =              %s " %NOW.minute)
print( "Current second =              %s" %NOW.second)
print( "hh:mm:ss format =             %s:%s:%s" % (NOW.hour, NOW.month, NOW.second))

* Just as with date, datetime provides convenient class methods for creating new instances. It also includes `fromordinal()` and `fromtimestamp()`. 
* In addition, `combine()` can be useful if you already have a date instance and time instance and want to create a datetime.

In [ ]:
t = datetime.time(1, 2, 3)
print ('t :', t)

d = datetime.date.today()
print ('d :', d)

dt = datetime.datetime.combine(d, t)
print ('dt:', dt)

## <font color='red'>Formating and Parsing</font>

* The default string representation of a datetime object uses the format: YYYY-MM-DDTHH:MM:SS.mmmmmm 
* Alternate formats can be generated using `strftime()` function. 
        - Uses different control code to give an output.
        - Each control code resembles different parameters like year,month, weekday and date.
* If your input data includes timestamp values parsable with `time.strptime()`, then `datetime.strptime()` is a convenient way to convert them to datetime instances.

**Useful `strptime` and `strftime` Patterns**

|Directive | Meaning |
| --- | --- |
| `%a` | Weekday as locale's abbreviated name |
| `%A` | Weekday as locale's full name |
| `%w` | Weekday as decimal number, where 0 is Sunday and 6 is Saturday |
| `%d` | Day of the month as a zero-padded decimal number |
| `%b` | Month as locale's abbreviated name |
| `%B` | Weekday as locale's full name |
| `%m` | Month as zero-padded decimal number |
| `%y` | Year without century as a zero-padded decimal number name |
| `%Y` | Year with century as a decimal number |
| `%H` | Hour (24-hour clock) as a zero-padded decimal number |
| `%I` | Hour (12-hour clock) as a zero-padded decimal number |
| `%p` | Locale equivalent of either AM or PM |
| `%M` | Minute as a zero-padded decimal number |
| `%S` | Second as a zero-padded decimal number |
| `%f` | Microsecond as a zero-padded decimal number |
| `%j` | Day of the year as a zero-padded decimal number |
| `%W` | Week number of the year (Monday as the first day of the week) as a decimal number |
| `%U` | Week number of the year (Sunday as the first day of the week) as a decimal number |
| `%c` | Localeâ€™s appropriate date and time representation |
| `%Z` | Time zone name |
| `%z` | UTC offset in the form HH[SS[.fffff]] |

**Formatting**

Weekday Month Day Hour:Minute:Second Year

In [ ]:
format = "%a %b %d %H:%M:%S %Y"

today = datetime.datetime.today()
print ('ISO     :', today)

s = today.strftime(format)
print ('strftime:', s)

Obtain the time in HH:MM:SS

In [ ]:
print(today.strftime("%X"))

Obtain the hour with 12 hours time

In [ ]:
print(today.strftime("%I"))

Obtain AM or PM

In [ ]:
print(today.strftime("%p"))

%c - local date and time, %x-local's date, %X- local's time

In [ ]:
print("Date and Time =", today.strftime("%c"))
print("Date =         ", today.strftime("%x"))
print("Time =         ", today.strftime("%X"))

%I/%H - 12/24 Hour, %M - minute, %S - second, %p - local's AM/PM

In [ ]:
print("Time =         ", today.strftime("%I:%M:%S %p")) # 12-Hour:Minute:Second:AM
print("Hour:Minutes = ", today.strftime("%H:%M")) # 24-Hour:Minute

**Parsing**

In [ ]:
d = datetime.datetime.strptime(s, format)
print ('strptime:', d.strftime(format))

## <font color="red">Breakout 1</font>

Write a function (named `number_days_between`) that:

- Takes two arguments that are 8-digit integers of the form YYYYMMDD (actually a date), and
- Returns the number of days between the two dates.

For instance:

```python
   number_days_between(20200617, 20200619) = 2
   number_days_between(20200619, 20100219) = 3773
```

## <font color="red">Breakout 2</font>

On July 16, 1969, the huge, 363-feet tall Saturn V rocket launches on the Apollo 11 mission from Pad A, Launch Complex 39, Kennedy Space Center, at 9:32 a.m. EDT. Write a Python program the computes (**from now**) the number of:

* Years
* Months
* Days
* Hours
* Minutes
* Seconds

since the launch.

Hint: <A HREF="https://stackoverflow.com/questions/1345827/how-do-i-find-the-time-difference-between-two-datetime-objects-in-python"> Check this website</A>

### Sample Problem 1

Write a function (add_Years) that adds numYears to a date object.

#### Solution

In [ ]:
def add_Years (myDate, numYears):
    return myDate.replace(year=myDate.year + numYears)

### Sample Problem 2

Write a function (add_Months) that adds numMonths to a date object.

#### Solution

In [ ]:
import datetime

def add_Months(myDate, numMonths):
    m = myDate.month + numMonths
    year  = m // 12
    month = m % 12
    if month == 0:
       month = 12
       year -= 1
    try:
        newDate = datetime.date(myDate.year+year, month, myDate.day)
    except ValueError:
        import calendar
        # determine the total number of days in a new month
        m1, d1 = calendar.monthrange(myDate.year+year, month)
        newDate = datetime.date(myDate.year+year, month, d1)
    return newDate

### Sample Problem 3

Write a function (add_Days) that adds numDays to a date object.

#### Solution

In [ ]:
def add_Days (myDate, numDays):
    return myDate + datetime.timedelta(days=numDays)

### Sample Problem 4

Write a function (increment_Date):
<UL> 
<LI> That has as arguments refDate (in the format YYYYMMDD), numYears, numMonths and numDays, and 
<LI> That adds numYears, numMonths and numDays to refDate.
<LI> That returns a new date in the format YYYYMMDD.
</UL>
<P>
Note that Years, Months and Days can be negative numbers.

#### Solution

In [ ]:
import datetime

def increment_Date(Date, numYears=0, numMonths=0, numDays=0):
    # Extract the year, the month and day from Date
    y = Date // 10000
    m = (Date % 10000) // 100
    d = Date % 100
    
    # Determine the current date object
    curDate = datetime.date(y, m, d)
    
    # Increment the date
    curDate = add_Years (curDate, numYears)
    curDate = add_Months(curDate, numMonths)
    curDate = add_Days  (curDate, numDays)
    
    # Extract the new year, month and day
    curY = curDate.year
    curM = curDate.month
    curD = curDate.day
    
    # Compute the new date in the format YYYYMMDD
    newDate = 10000*curY + 100*curM + curD
    
    return newDate

print(increment_Date(20001231, numMonths=-15, numDays=7))